<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão do Tempo</title>

    <!-- Códigos do autocomplete -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <script>
    $( function() {
    var cidadesES = [
        "Afonso Cláudio",
        "Água Doce do Norte",
        "Águia Branca",
        "Alegre",
        "Alfredo Chaves",
        "Alto Rio Novo",
        "Anchieta",
        "Apiacá",
        "Aracruz",
        "Atilio Vivacqua",
        "Baixo Guandu",
        "Barra de São Francisco",
        "Boa Esperança",
        "Bom Jesus do Norte",
        "Brejetuba",
        "Cachoeiro de Itapemirim",
        "Cariacica",
        "Castelo",
        "Colatina",
        "Conceição da Barra",
        "Conceição do Castelo",
        "Divino de São Lourenço",
        "Domingos Martins",
        "Dores do Rio Preto",
        "Ecoporanga",
        "Fundão",
        "Governador Lindenberg",
        "Guaçuí",
        "Guarapari",
        "Ibatiba",
        "Ibiraçu",
        "Ibitirama",
        "Iconha",
        "Irupi",
        "Itaguaçu",
        "Itapemirim",
        "Itarana",
        "Iúna",
        "Jaguaré",
        "Jerônimo Monteiro",
        "João Neiva",
        "Laranja da Terra",
        "Linhares",
        "Mantenópolis",
        "Marataízes",
        "Marechal Floriano",
        "Marilândia",
        "Mimoso do Sul",
        "Montanha",
        "Mucurici",
        "Muniz Freire",
        "Muqui",
        "Nova Venécia",
        "Pancas",
        "Pedro Canário",
        "Pinheiros",
        "Piúma",
        "Ponto Belo",
        "Presidente Kennedy",
        "Rio Bananal",
        "Rio Novo do Sul",
        "Santa Leopoldina",
        "Santa Maria de Jetibá",
        "Santa Teresa",
        "São Domingos do Norte",
        "São Gabriel da Palha",
        "São José do Calçado",
        "São Mateus",
        "São Roque do Canaã",
        "Serra",
        "Sooretama",
        "Vargem Alta",
        "Venda Nova do Imigrante",
        "Viana",
        "Vila Pavão",
        "Vila Valério",
        "Vila Velha",
        "Vitória"];
    $( "#city" ).autocomplete({
    source: cidadesES
    });
    });
    </script>
</head>
<body>
    <h1>Previsão do Tempo</h1>
    <form action="/" method="post">
        <label for="tipos_previsao">Escolha o tipo de previsão:</label>
        <select name="tipos_previsao" id="tipos_previsao">
            <option value=0>Temperatura atual!</option>
            <option value=1>Próximos 4 dias!</option>
            <option value=2>Próximos 16 dias!</option>
            <option value=3>Próximos 30 dais!</option>
        </select>
        <br></br>
        <label for="city">Digite o nome da sua cidade:</label>
        <input type="text" name="city" id="city">
        <br><br>
        <button type="submit">Obter Previsão do Tempo</button>
    </form>
    <div>
        <!-- Aqui será exibida a previsão do tempo -->
        {% if weather %}
            <h2>Previsão do Tempo para {{ city }}:</h2>
            <p>Temperatura: {{ temperature }}°C</p>
            <p>Umidade: {{ humidity }}%</p>
            <p>Descrição: {{ description }}</p>
        {% else %}
            <h2>Cidade inválida, tente novamente...</h2>
        {% endif %}
    </div>
</body>
</html>
