<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão do Tempo</title>
</head>
<body>
    <h1>Previsão do Tempo</h1>
    <form action="/" method="post">
        <label for="city">Digite o nome da cidade:</label>
        <input type="text" name="city" id="city">
        <br><br>
        <button type="submit">Obter Previsão do Tempo</button>
    </form>
    <div>
        <!-- Aqui será exibida a previsão do tempo -->
        {% if weather %}
            <h2>Previsão do Tempo para {{ city }}:</h2>
            <p>Temperatura: {{ temperature }}°C</p>
            <p>Umidade: {{ humidity }}%</p>
            <p>Descrição: {{ description }}</p>
        {% else %}
            <h2>A cidade: {{ city }} não existe no banco de dados ou foi escrita errado, tente novamente...</h2>
        {% endif %}
    </div>
</body>
</html>
